extends layout

block content
    h1 Hello!
    if routes.length>0
        h1 I will be helping you to plan your travel
        p Total estimated time : #{time}
        table
            thead
                td From
                td Step
                td To
                td Duration
            each route in routes
                tr
                    td #{route.start.Name}
                    td 
                        table
                            each step in route.steps
                                tr
                                    td #{step.html_instructions}
                    td #{route.end.Name}
                    td #{route.duration.text}
    else
        p No direction yet!
    script.
        function initMap() {
        var Berlin = {lat: 52.516761, lng: 13.3843081};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: Berlin
        });
        var Home = {lat: 52.54344, lng: 13.357316}
        var marker = new google.maps.Marker({
          position: Home,
          map: map
        });
      }
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQZFTZXjwBXhttTQjB2u8LjMZ1cpcde2o&callback=initMap")  
